.movie-detail-container {
  width: 800px;
  margin: auto;
  .movie-detail-poster-summary {
    display: flex;
    gap: 1rem;
    img {
      max-width: 200px;
    }
  }
  h2 {
    text-align: center;
  }
  .movie-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  .movie-details-table th,
  .movie-details-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }

  .movie-details-table th {
    background-color: #e1e6f0;
    font-weight: bold;
    text-align: right;
  }
}
